.code-card {
    background-color: rgba(49, 0, 0, .7);
    color: #fff;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px
}

.code-name {
    font-size: 20px;
    font-weight: bold;
}

.code-number {
    font-size: 18px;
}

.code-valid {
    color: green;
}

.code-expired {
    color: red;
}
