.form-container{
    padding:10px;
    padding-bottom:25px;
    margin:0 auto;
    margin-top:20px;
    border-radius:20px;

  }
  
  .add-one{
    color:white;
    text-align:center;
    cursor:pointer;
    margin-top:10px;
  }
  
  .delete{
    color:white;
    background-color:rgb(231, 76, 60);
    text-align:center;
    margin-top:6px;
    font-weight:700;
    border-radius:5px;
    min-width:20px;
    cursor:pointer;
  }
  
  #singlebutton{
    width:100%;
    margin-top:20px;
  }
  
  .title{
    text-align:center;
    font-size:40px;
    margin-bottom:40px;
  }
  
  .dynamic-element{
    margin-top: 15px;
    margin-bottom:0px;
  }

  .check-dropdown{
    margin-left: 10px;
  }
  